@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
    font-family: Roboto;
}

.hidden {
    display: none !important;
}

.g-signin2 {
    display: inline-block;
    text-align: center;
}